@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-header-color: rgb(55, 65, 81);
    --main-text-color: rgb(31, 41, 55);
    /* --main-text-color: rgb(17 24 39); */
}

div.wrapper {
    width: 750px;
    max-width: 90vw;
    min-height: 75vh;
    margin: auto;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Source Serif Pro', 'Georgia', 'Times New Roman', 'Times', 'serif'; */
    -webkit-tap-highlight-color: transparent;
    color: var(--main-text-color);
}

.header {
    background: #74e8ff;
    background: -webkit-linear-gradient(to right, #74e8ff, #12D8FA, #1FA2FF);
    background: linear-gradient(to right, #74e8ff, #12D8FA, #42b0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.body, div.body {
    line-height: 32px;
    font-size: 20px;
    color: var(--main-text-color);
} a, p {
    color: var(--main-text-color);
} h1, h2 {
    color: var(--main-header-color);
    font-family: 'Work Sans', 'ui-sans-serif';
    font-weight: bold;
} h2.body {
    font-size: 24px;
    line-height: 100%;
} p.quote {
    background-color:  rgb(241 245 249);
    border-left: 2px solid var(--main-header-color);
    padding: 5px 0px 5px 15px;
    margin-bottom: 15px;
    margin-top: 10px;
} a.inline {
    color: rgb(37 99 235);
    font-weight: 500;
} a.inline:hover {
    text-decoration: underline;
} img.body {
    width: 100%;
    border-radius: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
} img.body.light {
    padding: 5px;
    border: 2px solid var(--main-header-color);
}

article.post p.body {
    padding-bottom: 40px;
} article.post p.body.break {
    padding-bottom: 20px;
} article.post h2.body {
    padding-bottom: 15px;
}

input[type="text"] {
    caret-color: var(--main-text-color);
    font-family: 'Work Sans', 'ui-sans-serif';
    outline: none;
} input[type="text"]:focus {
    outline: 1.5px solid #6b8dff;
} 

nav.navigation a {
    margin: 0 7px;
    padding: 5px 10px;
    text-align: center;
}

.db {
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.dg {
    color: #757575;
    border-color: #757575;
}

.dw {
    color: #fdfdfd;
}

article.post-card {
    /* background: #ddfcff; */
} article.post-card div.thumbnail {
    transition: all .2s ease-in-out;
    background-size: 110%;
} article.post-card:hover div.thumbnail {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    background-size: 150%;
} article.post-card div.thumbnail#top {
    display: none;
}

article.post p.date-short {
    display: none;
}

div.social-media a {
    box-sizing: content-box;
    font-size: 28px;
    padding: 12px;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    text-align: center;
    margin: 0;
}

div.connect a {
    box-sizing: content-box;
    font-size: 48px;
    padding: 12px;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    text-align: center;
    margin: 0;
    color: rgb(59 130 246);
    transition: all .2s ease-in-out;
} div.connect a:hover {
    color: rgb(37 99 235);
    transform: scale(1.2);
}

pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 18px;
    /* background-color: #212427; */
    background-color: var(--main-text-color);
    border-radius: 8px;
    margin-top: 20px;
}

.string {
    color: #f5d67b;
} .bool {
    color: rgb(112, 210, 255);
}

code {
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    display: block;
    max-width: 100%;
    min-width: 100px;
    padding: 15px 20px 12px 22px;
    line-height: 1.5;
}

code.language-javascript {
    color: #f5d67b;
}

div.posts img.posts {
    transition: transform .7s ease-in-out;
} div.posts img.posts:hover {
    transform: rotate(360deg);
}

@media only screen and (max-width: 640px) {
    div.wrapper {
        min-height: 85vh;
    }

    .text-3xl {
        font-size: 1.7rem;
    }

    div.home div.banner {
        height: 16rem;
    }

    img.posts {
        display: none;
    }

    nav.navigation a {
        margin: 0;
    }

    article.post-card {
        flex-direction: column;
        gap: 0.75rem;
    } article.post-card div.flex {
        width: 100%;
    } article.post-card div.thumbnail {
        height: 10rem;
        width: 100%;
        flex-grow: 1;
    } article.post-card div.thumbnail#top {
        display: block;
    } article.post-card div.thumbnail#right {
        display: none;
    }

    article.post div#details {
        gap: 0.5rem;
    } article.post p.author {
        font-size: 16px;
        line-height: 20px;
    } article.post div.info {
        flex-wrap: wrap;
        line-height: 18px;
        padding-bottom: 0.125rem;
        font-size: 14px;
    } article.post p.date-short {
        display: block;
    } article.post p.date-long {
        display: none;
    } article.post div.banner {
        height: 16rem;
    } article.post h1.title {
        font-size: 30px;
        line-height: 2rem;
    } article.post p.subtitle {
        font-size: 18px;
        line-height: 1.5rem;
    } article.post img.profile-photo {
        width: 3rem;
    }

    div.posts div.description h1 {
        font-size: 1.7rem;
    } div.newsletter {
        flex-wrap: wrap;
    } div.newsletter form.subscribe {
        padding-right: 0;
    } div.newsletter img {
        display: none;
    }

    p.body, div.body {
        line-height: 150%;
        font-size: 18px;
    }

    pre {
        font-size: 16px;
    }

    #snackbar {
        width: 90vw;
        bottom: 1rem;
        left: 1rem;
    }

    div.connect a {
        box-sizing: content-box;
        font-size: 40px;
        padding: 6px;
        width: 50px;
        height: 50px;
        border-radius: 200px;
        text-align: center;
        margin: 0;
        color: rgb(59 130 246);
        transition: all .2s ease-in-out;
    } 
}
