/**
 * Farzan Yazdanjou | Custom Prism Theme
 * @farzany
 */

/* Set the main properties of the code, code blocks, and inline code */
code[class*="language-"],
pre[class*="language-"] {
    background: rgb(31, 41, 55);
    color: #fdfdfd;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    /* The following properties are standard, please leave them as they are */
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    /* The default is 4, but you could change it if you really, really want to */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /* The following properties are also standard */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* What the code looks like when highlighted */
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
    background: #fdfdfd;
    color: rgb(31, 41, 55);
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
    background: #fdfdfd;
    color: rgb(31, 41, 55);
}

/* Properties specific to code blocks */
pre[class*="language-"] {
    font-size: 18px;
    height: fit-content;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: auto;
}

pre.end {
    margin-bottom: 40px;
}

/* Properties specific to inline code */
:not(pre)>code[class*="language-"] {
    padding: 0.1em;
    /* this is the default */
    border-radius: unset;
    white-space: normal;
    /* this is standard */
}

/**
 * Tokens
 */
.token.comment {
    color: rgba(59, 186, 59, 0.9);
}

.token.prolog {
    color: unset;
}

.token.cdata {
    color: unset;
}

.token.doctype {
    color: unset;
}

.token.punctuation {
    color: #fdfdfd;
}

.token.entity {
    color: unset;
}

.token.attr-name {
    color: unset;
}

.token.class-name {
    color: unset;
}

.token.boolean {
    color: unset;
}

.token.constant {
    color: unset;
}

.token.number {
    color: rgb(184, 238, 185);
    ;
}

.token.atrule {
    color: unset;
}

.token.keyword {
    color: #40a6ef;
}

.token.property {
    color: #94ebff;
}

.token.tag {
    color: unset;
}

.token.symbol {
    color: unset;
}

.token.deleted {
    color: unset;
}

.token.important {
    color: unset;
}

.token.selector {
    color: unset;
}

.token.string {
    color: #ffad8c;
}

.token.char {
    color: unset;
}

.token.builtin {
    color: unset;
}

.token.inserted {
    color: unset;
}

.token.regex {
    color: unset;
}

.token.attr-value {
    color: unset;
}

.token.variable {
    color: unset;
}

.token.operator {
    color: #fdfdfd;
}

.token.return {
    color: rgb(241, 107, 207);
}

.token.function {
    color: rgb(239, 223, 130);
}

.token.url {
    color: unset;
}

/* The following rules are pretty similar across themes */
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.namespace {
    opacity: 0.7;
}

/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
    color: #9cdcfe;
}

pre[class*="language-css"],
code[class*="language-css"] {
    color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
    color: #d4d4d4;
}

.language-regex .token.anchor {
    color: #dcdcaa;
}

.language-html .token.punctuation {
    color: #808080;
}

/*********************************************************
* Toolbar
*/

div.code-toolbar {
    position: relative
}

div.code-toolbar>.toolbar {
    position: absolute;
    z-index: 10;
    top: .2em;
    right: .5em;
    transition: opacity .3s ease-in-out;
    opacity: 0
}

div.code-toolbar:hover>.toolbar {
    opacity: 1
}

div.code-toolbar:focus-within>.toolbar {
    opacity: 1
}

div.code-toolbar>.toolbar>.toolbar-item {
    display: inline-block
}

div.code-toolbar>.toolbar>.toolbar-item>a {
    cursor: pointer
}

div.code-toolbar>.toolbar>.toolbar-item>button {
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
    color: #bbb;
    font-size: .8em;
    padding: 5px;
    /* border: 1px solid red; */
}

div.code-toolbar>.toolbar>.toolbar-item>a:focus,
div.code-toolbar>.toolbar>.toolbar-item>a:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus,
div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>span:focus,
div.code-toolbar>.toolbar>.toolbar-item>span:hover {
    color: #fdfdfd;
    text-decoration: none
}

/*********************************************************
* Mobile Adjustments
*/

@media only screen and (max-width: 640px) {
    pre[class*="language-"] {
        font-size: 16px;
    }
}
